.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
  color: white;
  padding: 15px 40px;
}

.navbar a {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}

.logo {
  color: #60a5fa;
}
.navs{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}